@import "firefox-gnome-theme/userChrome.css";


/* mine: remove left padding when maximized */
    :root[tabsintitlebar][sizemode="maximized"] #nav-bar {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

/* mine: remove window buttons when maximized */
        :root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-buttonbox-container {
	display: none !important;
    }



